<div class="col-xs-10 col-xs-offset-1 about">
  <h1> About Splurty </h1>

  <p>
    Splurty was built by Akshai Rajendran
  </p>
  <p>
    He loves to build web apps, they're a lot of fun! When he's not coding he's playing nerf basketball in his backyard.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Photo 3.jpg', class: 'img-responsive' %>
  </div>

  <div class='col-xs-12 col-sm-7 col-sm-offset-1'>
    <h2 class='text-center'>Akshai Rajendran</h2>
    <br />
    <p>
      Akshai Rajendran is a guy who lives in NYC, he trades options and builds websites.
    </p>
  </div>
</div>